InfoRestaurant/src/conf/xml-resources/web-service-references/OfoodWebService_1/wsdl/localhost_8080/OfoodWebService/OfoodWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ea/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ea/" name="OfoodWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ea/" schemaLocation="http://localhost:8080/OfoodWebService/OfoodWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/OfoodWebService/OfoodWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="findOrderByDayInMonth">
<part name="parameters" element="tns:findOrderByDayInMonth"/>
</message>
<message name="findOrderByDayInMonthResponse">
<part name="parameters" element="tns:findOrderByDayInMonthResponse"/>
</message>
<message name="findUserInRestaurant">
<part name="parameters" element="tns:findUserInRestaurant"/>
</message>
<message name="findUserInRestaurantResponse">
<part name="parameters" element="tns:findUserInRestaurantResponse"/>
</message>
<message name="findTotalPurchaseOrderByZipCode">
<part name="parameters" element="tns:findTotalPurchaseOrderByZipCode"/>
</message>
<message name="findTotalPurchaseOrderByZipCodeResponse">
<part name="parameters" element="tns:findTotalPurchaseOrderByZipCodeResponse"/>
</message>
<message name="topFiveFood">
<part name="parameters" element="tns:topFiveFood"/>
</message>
<message name="topFiveFoodResponse">
<part name="parameters" element="tns:topFiveFoodResponse"/>
</message>
<message name="getRestaurantPuntuationOrdered">
<part name="parameters" element="tns:getRestaurantPuntuationOrdered"/>
</message>
<message name="getRestaurantPuntuationOrderedResponse">
<part name="parameters" element="tns:getRestaurantPuntuationOrderedResponse"/>
</message>
<portType name="OfoodWebService">
<operation name="findOrderByDayInMonth">
<input wsam:Action="http://ws.ea/OfoodWebService/findOrderByDayInMonthRequest" message="tns:findOrderByDayInMonth"/>
<output wsam:Action="http://ws.ea/OfoodWebService/findOrderByDayInMonthResponse" message="tns:findOrderByDayInMonthResponse"/>
</operation>
<operation name="findUserInRestaurant">
<input wsam:Action="http://ws.ea/OfoodWebService/findUserInRestaurantRequest" message="tns:findUserInRestaurant"/>
<output wsam:Action="http://ws.ea/OfoodWebService/findUserInRestaurantResponse" message="tns:findUserInRestaurantResponse"/>
</operation>
<operation name="findTotalPurchaseOrderByZipCode">
<input wsam:Action="http://ws.ea/OfoodWebService/findTotalPurchaseOrderByZipCodeRequest" message="tns:findTotalPurchaseOrderByZipCode"/>
<output wsam:Action="http://ws.ea/OfoodWebService/findTotalPurchaseOrderByZipCodeResponse" message="tns:findTotalPurchaseOrderByZipCodeResponse"/>
</operation>
<operation name="topFiveFood">
<input wsam:Action="http://ws.ea/OfoodWebService/topFiveFoodRequest" message="tns:topFiveFood"/>
<output wsam:Action="http://ws.ea/OfoodWebService/topFiveFoodResponse" message="tns:topFiveFoodResponse"/>
</operation>
<operation name="getRestaurantPuntuationOrdered">
<input wsam:Action="http://ws.ea/OfoodWebService/getRestaurantPuntuationOrderedRequest" message="tns:getRestaurantPuntuationOrdered"/>
<output wsam:Action="http://ws.ea/OfoodWebService/getRestaurantPuntuationOrderedResponse" message="tns:getRestaurantPuntuationOrderedResponse"/>
</operation>
</portType>
<binding name="OfoodWebServicePortBinding" type="tns:OfoodWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findOrderByDayInMonth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUserInRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTotalPurchaseOrderByZipCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="topFiveFood">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRestaurantPuntuationOrdered">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OfoodWebService">
<port name="OfoodWebServicePort" binding="tns:OfoodWebServicePortBinding">
<soap:address location="http://localhost:8080/OfoodWebService/OfoodWebService"/>
</port>
</service>
</definitions>